.header-parent{
    width: 100vw;
    height: 100vh;
    background: url('../assets/airpollution.jpg') no-repeat  center ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-parent h1{
    color: white;
    font-size: 150px;
}
.header-parent h2{
    color: white;
}